extends ../layout

block content
    h1 Usuarios
    a(href="/usuario/create"  class="btn btn-lg btn-success") Cadastrar
    br
    br
    if lista.length > 0
        table(class="table table-striped")
            thead
                tr
                    th ID:
                    th Nome:
                    th Email:
                    //- th Data:
                    //- th Ações:
                    th Data de Cadastro:
            tboddy
                each valor in lista
                    tr
                        td #{valor._id}
                        td #{valor.nome}
                        td #{valor.email}
                        //- td #{valor.data_cad}
                        //- td #{valor.password}
                        td #{valor.data_cad}
                        td 
                            a(href="/usuario/get/#{valor._id}", class="btn btn-info")
                                span(class="glyphicon glyphicon-search")
                            span &nbsp; 
                            a(href="/usuario/edit/#{valor._id}", class="btn btn-primary")
                                span(class="glyphicon glyphicon-pencil")
    else
        p Nenhum registro encontrado !